body, html {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

video#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

button {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#startBtn {
  bottom: 50%;
  display: block;
}

#captureBtn {
  bottom: 20px;
  display: none;
}

canvas {
  display: none;
}
